In [1]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv('iris.csv')
data = data.drop("Id",axis=1)
data.sample(5)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
39             5.1           3.4            1.5           0.2     Iris-setosa
141            6.9           3.1            5.1           2.3  Iris-virginica
0              5.1           3.5            1.4           0.2     Iris-setosa
49             5.0           3.3            1.4           0.2     Iris-setosa
117            7.7           3.8            6.7           2.2  Iris-virginica

In [5]:
x= data.drop("Species", axis=1) 
x.head(5)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [6]:
y = data["Species"]
y.head(5)

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

In [17]:
from sklearn.model_selection import cross_val_score

K-Nearest Neighbors

In [18]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
cross_val_score(knn, x, y, cv = 5).mean()

0.9733333333333334

Random Forest

In [19]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
cross_val_score(rf, x, y, cv = 5).mean()

0.9666666666666668

Naive Bayes

In [20]:
from sklearn.naive_bayes import GaussianNB 
nb = GaussianNB() 
cross_val_score(nb, x, y, cv = 5).mean()

0.9533333333333334

Support Vector Machine

In [21]:
from sklearn.svm import SVC
svc = SVC()
cross_val_score(svc, x, y, cv = 5).mean()

0.9666666666666666